@import url('https://fonts.cdnfonts.com/css/cursed-timer-ulil');

body {
    margin: 0;
    background-color: #1b244a;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.reset-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.reset-btn {
    font-family: Cursed Timer ULIL;
    font-size: 30px;
    background-color: red;
    border-color: red;
    color: white;
    padding: 10px;
}

.reset-btn:hover {
    background-color: white;
    color: red;
}

.team-board-title {
    font-family: Verdana, sans-serif;
    color: #EEEEEE;
    font-size: 40px;
}

.team-points {
    color: #F94F6D;
    background-color: black;
    font-family: Cursed Timer ULIL;
    padding: 10px;
    font-size: 90px;
}

.add-points {
    font-family: Cursed Timer ULIL;
    font-size: 18px;
    color: #9AABD8;
    background-color: transparent;
    border-color: #9AABD8;
    border-radius: 15%;
    padding: 5px 5px;
}

